name: Verify Pull Request
on: [pull_request]

permissions:
  checks: write
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout
jobs:
  verifypr:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            files.pythonhosted.org:443
            github.com:443
            pypi.org:443
            www.bridgecrew.cloud:443
            docs.github.com:433
            api.github.com:443
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      
      - name: Cache APT packages
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: |
            /var/cache/apt/archives
            /var/lib/apt/lists
          key: ${{ runner.os }}-apt-${{ hashFiles('.github/workflows/pullrequest.yml') }}
          restore-keys: |
            ${{ runner.os }}-apt-
      
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.12'
      
      - name: Cache Python dependencies
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: |
            ~/.cache/pip
            ~/.local/lib/python3.12/site-packages
          key: ${{ runner.os }}-pip-cfn-lint-checkov-${{ hashFiles('.github/workflows/pullrequest.yml') }}
          restore-keys: |
            ${{ runner.os }}-pip-cfn-lint-checkov-
            ${{ runner.os }}-pip-
      
      - name: Setup Ruby
        uses: ruby/setup-ruby@4fc31e1c823882afd7ef55985266a526c589de90 # v1.282.0
        with:
          ruby-version: '3.3'
      
      - name: Cache Ruby gems
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-cfn-nag-${{ hashFiles('.github/workflows/pullrequest.yml') }}
          restore-keys: |
            ${{ runner.os }}-gems-cfn-nag-
            ${{ runner.os }}-gems-
      
      - name: Run StandardLint
        uses: mikaelvesavuori/standardlint-action@b376b6d6afc5885d102894f6972133fa91d200f0 # v1.0.5
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Testing template with CFN Lint
        uses: scottbrenner/cfn-lint-action@25ee47d1ab3146bda904df745511735cc0b9a970 # v2.5.2
        with:
          command: cfn-lint -t cloudformation/template.yml
      - name: Testing route53 with CFN Lint
        uses: scottbrenner/cfn-lint-action@25ee47d1ab3146bda904df745511735cc0b9a970 # v2.5.2
        with:
          command: cfn-lint -t cloudformation/route53.yml
      - name: Testing disaster-recovery with CFN Lint
        uses: scottbrenner/cfn-lint-action@25ee47d1ab3146bda904df745511735cc0b9a970 # v2.5.2
        with:
          command: cfn-lint -t cloudformation/disaster-recovery.yml
      - name: Testing app with CFN Lint
        uses: scottbrenner/cfn-lint-action@25ee47d1ab3146bda904df745511735cc0b9a970 # v2.5.2
        with:
          command: cfn-lint -t cloudformation/app.yml
      - name: Run cfn-nag
        uses: stelligent/cfn_nag@8b5f03da74202ba323a145e9d037ddce6cab9dec # master
        with:
          input_path: cloudformation
      - name: Run Checkov action
        id: checkov
        uses: bridgecrewio/checkov-action@8f61ce5b8a3afb4ca94d236b75201878ded6d2cd # master
        with:
          file: cloudformation/template.yml
          skip_check: CKV_AWS_59,CKV_AWS_120,CKV2_AWS_71
          framework: cloudformation
          output_format: sarif
          output_file_path: reports/results.sarif 
          download_external_modules: true
