name: Verify Pull Request
on: [pull_request]

permissions:
  checks: write
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout
jobs:
  verifypr:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            files.pythonhosted.org:443
            github.com:443
            pypi.org:443
            www.bridgecrew.cloud:443
            docs.github.com:433
            api.github.com:443
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Run StandardLint
        uses: mikaelvesavuori/standardlint-action@b376b6d6afc5885d102894f6972133fa91d200f0 # v1.0.5
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Testing template with CFN Lint
        uses: scottbrenner/cfn-lint-action@25ee47d1ab3146bda904df745511735cc0b9a970 # v2.5.2
        with:
          command: cfn-lint -t cloudformation/template.yml
      - name: Testing route53 with CFN Lint
        uses: scottbrenner/cfn-lint-action@25ee47d1ab3146bda904df745511735cc0b9a970 # v2.5.2
        with:
          command: cfn-lint -t cloudformation/route53.yml
      - name: Testing disaster-recovery with CFN Lint
        uses: scottbrenner/cfn-lint-action@25ee47d1ab3146bda904df745511735cc0b9a970 # v2.5.2
        with:
          command: cfn-lint -t cloudformation/disaster-recovery.yml
      - name: Testing app with CFN Lint
        uses: scottbrenner/cfn-lint-action@25ee47d1ab3146bda904df745511735cc0b9a970 # v2.5.2
        with:
          command: cfn-lint -t cloudformation/app.yml
      - name: Run cfn-nag
        uses: stelligent/cfn_nag@8b5f03da74202ba323a145e9d037ddce6cab9dec # master
        with:
          input_path: cloudformation
      - name: Run Checkov action
        id: checkov
        uses: bridgecrewio/checkov-action@02a4c5d6a02367e5ea493c34c26b094302fd3f61 # master
        with:
          file: cloudformation/template.yml
          skip_check: CKV_AWS_59,CKV_AWS_120,CKV2_AWS_71
          framework: cloudformation
          output_format: sarif
          output_file_path: reports/results.sarif 
          download_external_modules: true
